.main-title{
	text-shadow: #204d74 1px 1px;
	text-align: center;
	margin-top: 30px;
}
.main-title a:hover{
	text-decoration: none;
}

.main-share-list{
	text-align: center;
	margin: 120px 0;
	font-size: 2em;
}

.footer{
	margin: 30px 0 15px 0;
	color: #444444;
	text-align: center;
	line-height: 0.8;
}
.footer .notice{
	font-size: 10px;
	text-align: right;
}

.no-found{
	margin: 35px;
}

.share-box{
	text-align: center;
	margin: 30px 0;
	padding: 40px 0;
	border: 1px dashed #e0e0e0;
}

.share-box h2{
	margin-top: 0;
}

.share-box #Result {
	margin: 15px 0;
	line-height: 2;
}
.share-box #Result p span{
	color: #2b542c;
}

.share-error{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
}

#ShareText #InputText{
	width: 100%;
	max-width: 600px;
	margin: 10px auto;

}

.share-text-box{
	padding-top: 15px;
}
.share-text-box h3{
	margin: 0 0 15px 0;
}
.share-text-box p{
	line-height: 1.8;
	text-align: left;
	padding: 8px 12px;
	color: #88493d;
}

.share-file-select-box{
	width: 100%;
	max-width: 600px;
	margin: 10px auto;
	padding: 10px;
	border: 2px dashed #aaa;
}
.share-file-select-box:hover{
	background-color: #eee;
	cursor: pointer;
}
.share-file-select-box:hover p{
	color: #333;
}
.share-file-select-box p{
	margin: 0;
	padding: 5px;
	color: #777;
}

.share-box-markdown .tab-content{
	text-align: left;
	padding: 5px;
}