.main-title {
	text-shadow: #204d74 1px 1px;
	text-align: center;
	margin-top: 30px;
}

.login_status {
	text-align: right;
}

.login_status img {
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 25px;
}

.main-title a:hover {
	text-decoration: none;
}

.main-share-list {
	text-align: center;
	margin: 60px 0;
	font-size: 1.3em;
}

.main-share-list > div {
	padding: 0;
}

@media (max-width: 767px) {
	.main-share-list > .col-xs-3 {
		width: 50%;
	}
}

.main-share-list a {
	display: block;
	border: dashed 1px #e0e0e0;
	padding: 18px 0;
	margin: 4px;
}

.main-share-list a:hover {
	background-color: #f7f7f7;
}

.main-share-list a:hover, .main-share-list a:active, .main-share-list a:link {
	text-decoration: none;
}

.footer {
	margin: 30px 0 15px 0;
	color: #444444;
	text-align: center;
	line-height: 0.8;
}

.footer .notice {
	font-size: 10px;
	text-align: right;
}

.no-found {
	margin: 35px;
}

.share-box {
	text-align: center;
	margin: 30px 0;
	padding: 40px 0;
	border: 1px dashed #e0e0e0;
}

.share-box h2 {
	margin-top: 0;
}

.share-box #Result {
	margin: 15px 0;
	line-height: 2;
}

.share-box #Result p span {
	color: #2b542c;
}

.share-error {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
}

#ShareText #InputText {
	width: 100%;
	max-width: 600px;
	margin: 10px auto;

}

#ShareCode #InputText {
	width: 100%;
	max-width: 800px;
	margin: 10px auto;

}

.share-text-box, .share-code-box {
	padding-top: 15px;
}

.share-text-box h3 {
	margin: 0 0 15px 0;
}

.share-text-box p {
	line-height: 1.8;
	text-align: left;
	padding: 8px 12px;
	color: #88493d;
}

.share-code-box pre {
	text-align: left;
}

.share-file-select-box {
	width: 100%;
	max-width: 600px;
	margin: 10px auto;
	padding: 10px;
	border: 2px dashed #aaa;
}

.share-file-select-box-hover:hover {
	background-color: #eee;
	cursor: pointer;
}

.share-file-select-box:hover p {
	color: #333;
}

.share-file-select-box p {
	margin: 0;
	padding: 5px;
	color: #777;
}

.share-box-markdown .tab-content {
	text-align: left;
	padding: 5px;
}

.share-picture-box {
	margin: 5px 10px;
}

.share-picture-box img {
	border: 1px solid #aaa;
	padding: 1px;
	display: block;
	margin: 0 auto;
}

.picture-text-box-preview {
	margin-top: 10px;
	text-align: left;
	border: dashed 1px #ddd;
	line-height: 1.5;
	padding: 8px;
}

#SharePictureTextData {
	margin: 5px 10px;
}

#SharePictureTextData .text {
	margin: 5px 0;
}

#SharePictureTextData .text p {
	text-align: left;
	line-height: 1.5;
	margin: 2px;
	text-indent: 2em;
}

#ShareMultiText {
	max-width: 700px;
	margin: 0 auto;
}

@media (min-width: 767px) {
	#SharePictureTextData .image img {
		width: 100%;
		max-width: 750px;
	}

	#SharePictureTextData .image-left {
		float: left;
	}

	#SharePictureTextData .image-right {
		float: right;
	}
}

.login {
	margin: 55px 20px;
}

#GoogleLoginButton {
	margin-top: 50px;
	text-align: center;
}

#GoogleLoginButton img {
	width: 180px;
}

.member .main-title {
	text-align: left;
}

.member .no-found {
	margin-bottom: 150px;
}

.login_status {
	margin-bottom: 5px;
}

.box-sc-row {
	margin: 15px 0 40px 0;
}

.box-sc-share a {
	display: block;
	margin: 5px;
	padding: 15px 5px;
	border: dashed 1px #eee;
	text-align: center;
	background-color: #fefefe;
}

.box-sc-share a:hover {
	background-color: #f0f0f0;

}

.box-sc-share a:hover, .box-sc-share a:active, .box-sc-share a:link {
	text-decoration: none;
}

.box-sc-share span.count {
	font-size: 2em;
	color: #008200;
}

@media (max-width: 767px) {
	/* 调整宽度为50% */
	.box-sc-share {
		width: 50%;
	}
}

.my-list-share {
	margin: 15px 4px;
}

ul.my-list-share li {
	border-left: 4px solid #007deb;
	margin: 8px 0;
	background-color: #f7f7f7;
	padding: 5px;
}

ul.my-list-share li:nth-child(odd) {
	background-color: #f0f0f0;
	border-left-color: #00d300;
}

ul.my-list-share li:hover {
	background-color: #e0e0e0;
	border-left-color: #fe6d6d;
}

ul.my-list-share li > p {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

ul.my-list-share .less {
	margin-left: 15px;
}

ul.my-list-share .less > span {
	font-size: 1.5em;
	color: #008200;
	font-weight: bold;
}

ul.my-list-share .password {
	margin-left: 15px;
}

ul.my-list-share .time {
	font-size: 0.8em;
}

ul.my-list-share .password > span {
	color: #bababa;
	font-style: italic;
}